.myBody{
    background: linear-gradient(128.7deg, #CFF1D6 8.32%, rgba(208, 242, 177, 0) 70.33%);
    background-image: url(/assets/images/BG.svg);
}

.center{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;

}

.header{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3vw;
    line-height: 4vw;

    letter-spacing: 0.2px;

    color: #373F41;
}



.myDiv{
    display: flex;
    justify-content: center;
    align-items:center
}

.icon{
    font-family: 'Montserrat', sans-serif;
    color:balck;
    margin: 0.3vw;
    border:none;
    border-radius: 1vw;
    height: 3vw;
    width: 3vw;
    background:white;
    filter: drop-shadow(0px 4px 4px rgba(145, 206, 194, 0.5));
}
.icon:hover{
    background: #cacaca;
}

.green{
    background: #77EA7E;
}
.green:hover{
    background: #a1ffa7;
}
.text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5vw;
    line-height: 2vw;

    letter-spacing: 0.2px;

    color: #373F41;

    padding-left: 20vw;
    padding-right: 20vw;
    text-align: left;
    height: 20vw;
    overflow-y:scroll;
}
.text::-webkit-scrollbar {
    width: 10px;
  }
  
.text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #a1ffa7;
  }
  
.text::-webkit-scrollbar-track {
    background-color: transparent;
  }

.bar{
    padding-top:2vw;
    display:flex;
    justify-content:center;
    align-items: center;
    gap:20vw;
}
.myImg{
    height: 5vw;
}